version: 2
updates:
    - package-ecosystem: pip
      directory: "/"
      target-branch: "dev"
      schedule:
        interval: weekly
      open-pull-requests-limit: 99
      reviewers:
        - "@KnightHacks/backend"
