<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "emails/head.html" %}
  </head>

  <body>
    {% include "emails/top.html" %}

    <main>
      <h1>
        Hello {{hacker.first_name}},
      </h1>
      <p style="font-size: 160%;">
        Thank you for registering for Knight Hacks 2021!
        <br />
        Please click the link below to <b> verify your email.</b>
      </p>
      <p style="font-size: 160%;">
        <a href="{{href}}">Click Here!</a>
      </p>
    </main>

    {% include "emails/footer.html" %}
  </body>
</html>
