apiVersion: v1
kind: ConfigMap
metadata:
  name: kh-backend-config
  labels:
    app: kh-backend
data:
  APP_SETTINGS: "src.config.ProductionConfig"
  MONGO_URI: "mongodb://kh-mongo/hackathon"
  CELERY_BROKER_URL: "amqp://kh-rabbitmq"
  MAIL_PORT: "587"
  MAIL_USE_TLS: "true"
