apiVersion: v1
kind: Secret
metadata:
  name: kh-backend-secret
  labels:
    app: kh-backend
stringData:
  MAIL_SERVER: ""
  MAIL_USERNAME: "noreply@knighthacks.org"
  MAIL_PASSWORD: ""
  MAIL_DEFAULT_SENDER: "noreply@knighthacks.org"
  SECRET_KEY: "viva la pluto"
  SENTRY_DSN: ""
  NOTION_DB_ID: ""
  NOTION_TOKEN: ""
  AZURE_TENANT_ID: ""
  AZURE_API_AUDIENCE: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: ingress-tls
type: kubernetes.io/tls
data:
  tls.crt: ""
  tls.key: ""
