name: Create Release
concurrency: create_release

on:
  workflow_dispatch:
    inputs:
      versionNumber:
        description: 'Version Number (semver: 1.2.0)'
        required: true

env:
  VERSION_NUMBER: ${{ github.event.inputs.versionNumber }}

jobs:

  createRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create release branch
        run: git checkout -b release/v${{ env.VERSION_NUMBER }}

      - name: Init git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com

      - name: Change version number in code
        run: |
          sed -is "s/\(__version__ = \)\"[0-9]*.[0-9]*.[0-9]*\"/\1\"${{ env.VERSION_NUMBER }}\"/" src/__init__.py

      - name: Update Changelog
        uses: thomaseizinger/keep-a-changelog-new-release@v1
        with:
          version: ${{ github.event.inputs.versionNumber }}

      - name: Commit changelog and version in package
        id: make-commit
        run: |
          git add CHANGELOG.md
          git add src/__init__.py
          git commit --message "Prepare release ${{ env.VERSION_NUMBER }}"
          echo "::set-output name=commit::$(git rev-parse HEAD)"

      - name: Create pull request into main
        uses: thomaseizinger/create-pull-request@1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          head: release/v${{ env.VERSION_NUMBER }}
          base: main
          title: v${{ env.VERSION_NUMBER }} into main
          reviewers: ${{ github.event.issue.user.login }}
          body: |
            This PR was created when the Create Release workflow was run.
            I've updated the version name and code commit: ${{ steps.make-commit.outputs.commit }}.

      - name: Create pull request into dev
        uses: thomaseizinger/create-pull-request@1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          head: release/v${{ env.VERSION_NUMBER }}
          base: dev
          title: v${{ env.VERSION_NUMBER }} into dev
          reviewers: ${{ github.event.issue.user.login }}
          body: |
            This PR was created when the Create Release workflow was run.
            I've updated the version name and code commit: ${{ steps.make-commit.outputs.commit }}.

